body {
  font-family: sans-serif;
  padding: 2rem;
}
.container {
  width: 960px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #afd3d8;
  text-align: center;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #646cff;
}

button {
  padding: 1rem;
  font-size: 1rem;
  border-radius: 8px;
  color: #646cff;
  border-color: #646cff;
}
button:hover {
  border-color: #51c05b;
  
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  
  button {
    background-color: #f9f9f9;
  }
}
