/* ===============================
   List Items Style
=============================== */
ul li {
    color: blue;
    font-weight: bold;
    list-style-type: none;
  }

/* ===============================
   Images Style
=============================== */
li img {
  display: block;
    width: 200px;
    height: 300px;
  } 

/* ===============================
   Colours for Status Indicator
=============================== */
  .read {
    background-color: #50f350;
  }
  .unread {
    background-color: #d65252;
  }
  